@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

.font-open-sans {
  font-family: 'Open Sans', sans-serif;
}


.leaflet-interactive:focus {
  outline: none;
}

.leaflet-popup-pane {
  z-index: 10000 !important;
}

.ca-marker {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00594F;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.ca-marker::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #00594F;
}

.ca-marker-inner {
  line-height: 1;
}

