@import "tailwindcss";


.load-meetings-control {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 6;
}

.ca-marker-icon {}

.ca-marker-icon--cluster {}

.ca-marker {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #00594F;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.ca-marker::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -7px;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #00594F;
}

.ca-marker-inner {
  line-height: 1;
}

.leaflet-popup-pane {
  z-index: 10000 !important;
}
